<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let user of users">
      <h2>{{bebidas.Nombre}}</h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-item>
    Item
  </ion-item>

<ion-content>
<ion-slides class="image-slider" loop="true" slidesPerView="2">
    <ion-slide *ngFor="let img of images">
      <img src="assets/img/{{img}}" class="thumb-img" imageViewer/>
    </ion-slide>
  </ion-slides>
</ion-content>